@model AuthenticationDto

@{ 
    Layout = "_BasicLayout";
    ViewData["Title"] = "Login";
}

<div class="wrapper">
    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-wrapper">
                <!--Login Page Starts-->
                <section id="login">
                    <div class="container-fluid">
                        <div class="row full-height-vh m-0">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body login-img">
                                            <div class="row m-0">
                                                <div class="col-lg-6 d-lg-block d-none py-2 text-center align-middle">
                                                    <img src="~/app-assets/img/gallery/login.png" alt="" class="img-fluid mt-5" width="400" height="230">
                                                </div>
                                                <form class="col-lg-6 col-md-12 bg-white px-4 pt-3" asp-route="Login" method="post">

                                                    <h4 class="mb-2 card-title">Login</h4>
                                                    @if (!(Model.Response is null) && Model.Response.ErrorCode == StatusCodes.UnAuthorized.ToInt())
                                                    {
                                                        <p class="card-text mb-3 red">
                                                            Invalid User Credentials.
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                            <p class="card-text mb-3">
                                                                Welcome back, please login to your account.
                                                            </p>
                                                    }
                                                    
                                                    <input asp-for="UserName" type="text" class="form-control mb-3" placeholder="Username" required />
                                                    <input asp-for="Password" type="password" class="form-control mb-1" placeholder="Password" required />
                                                    <div class="d-flex justify-content-between mt-2">
                                                        <div class="remember-me">
                                                            <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                                                <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" />
                                                                <label class="custom-control-label" for="customCheckboxInline1">
                                                                    Remember Me
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="forgot-password-option">
                                                            <a href="forgot-password-page.html" class="text-decoration-none text-primary">
                                                                Forgot Password
                                                                ?
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="fg-actions d-flex justify-content-between">
                                                        <div class="login-btn">
                                                            @*<button class="btn btn-outline-primary" value="Register">
                                                                <a href="register-page.html" class="text-decoration-none">Register</a>
                                                            </button>*@
                                                        </div>
                                                        <div class="recover-pass">
                                                            <input type="submit" class="btn btn-primary" value="Login" />
                                                            @*<a href="dashboard1.html" class="text-decoration-none text-white">Login</a>*@
                                                        </div>
                                                    </div>
                                                    <hr class="m-0">
                                                    <div class="d-flex justify-content-between mt-3">
                                                        <div class="option-login">
                                                            <h6 class="text-decoration-none text-primary">Or Login With</h6>
                                                        </div>
                                                        <div class="social-login-options">
                                                            <a class="btn btn-social-icon mr-2 btn-facebook">
                                                                <span class="fa fa-facebook"></span>
                                                            </a>
                                                            <a class="btn btn-social-icon mr-2 btn-twitter">
                                                                <span class="fa fa-twitter"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Login Page Ends-->

            </div>
        </div>
        <!-- END : End Main Content-->
    </div>
</div>